.overlay{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(00,00,00,0.7);
}

#home-content{
    position:relative;
    min-height:300px;
    min-width: 100%;
    background-image: url("./img/bg1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:50% 50px;
    text-align: center;
    color:white
}
#video{
    position:relative;
    min-height:200px;
    min-width: 100%;
    background-image: url("./img/med.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:0-100px;
    text-align: center;
    color:white

}
#about-content{
    position:relative;
    min-height:300px;
    min-width: 100%;
    background-image: url("./img/about.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:l0 top;
    color:white
}
#courses-content{
    position:relative;
    min-height:300px;
    min-width: 100%;
    background-image: url("./img/course.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:l0 50%;
    color:white
}
#contact-content{
    position:relative;
    min-height:300px;
    min-width: 100%;
    background-image: url("./img/bg-contact.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:l0 top;
    color:white
}
#contact-icon {
    display: flex;
}

#contact-icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

#contact-icon a {
    display: flex;
        align-items: center;
        color: var(--color-white);
        background-color: var(--color-grey-5);
        cursor: pointer;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0 .4rem;
        transition: all .4s ease-in-out;
}

#contact-icon a {
    display: flex;
        align-items: center;
        color: rgb(177, 172, 165);
        cursor: pointer;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0 .4rem;
        transition: all .4s ease-in-out;
}

.circular_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
    margin-left: 30px;
    display:inline-block;
    vertical-align:middle;
  }
  .circular_image img{
    width:100%;
  }


.about-stats {
    padding-bottom: 4rem;
}

.about-stats .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background-color: #fff !important;
}

.about-stats .progress-bars .progress-bar {
    background-color: #fff !important;
            display: flex;
            flex-direction: column;
        }
    

.about-stats .progress-bars .progress-bar   .prog-title {
        text-transform: uppercase;
        font-weight: 500;
        color: #0b0d10;

    }


    .about-stats .progress-bars .progress-bar   .progress-con {
        display: flex;
        align-items: center;
    }

    .about-stats .progress-bars .progress-bar   .progress-con  .prog-text{
        color: #0b0d10;
    }


    .about-stats .progress-bars .progress-bar   .progress-con  .progress{
        width: 100%;
        height: .45rem;
        background-color: #28312f;
        margin-left: 1rem;
        position: relative;
    }
    .about-stats .progress-bars .progress-bar  .progress-con  .progress span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #4ebca3;
        transition: all .4s ease-in-out;
        width: 60%;
    }

    .about-stats .progress-bars .progress-bar   .progress-con  .progress html{
        width: 80%;
    }
    .about-stats .progress-bars .progress-bar   .progress-con  .progress css{
        width: 95%;
    }

    .stat-title {
        text-transform: uppercase;
        font-size: 1.4rem;
        text-align: center;
        padding: 3.5rem 0;
        position: relative;
    }

    .stat-title::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 40%;
        height: 1px;
        transform: translateX(-50%);
    }
